<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>注册界面</title>
  <link rel="stylesheet" type="text/css" href="/home/css/index.css">
</head>
<body>
<div class="blackbox"></div>
<div class="topbox">
	<div class="topmain">
    <a href="/user/login">
      <img src="/home/img/back.png">
    </a>
		<h1>免费注册</h1>
	</div>
</div>

<div class="conbox">
	<div class="conmain register">
		<h2>温馨提示：以下所有为必填项</h2>
    	<form method="POST" action="/user/register">
    		<div>
    			<input required="required" name="username" type="text" placeholder="请输入用户名">
    		</div>
    		<div>
    			<input required="required" name="password" type="password" placeholder="请输入您的密码">
    		</div>
    		<div class="win_yzm">
          <input required="required" name="imgCode" type="text" placeholder="请输入验证码">
          <label><img src="/imgCode" onclick="this.src='/imgCode?random=' + Math.random();"></label>
    		</div>
    		<p>
          <a href="javascript:;">《网站服务协议》</a>
        </p>
    		<button type="submit">同意以上协议并注册</button>
    	</form>
	</div>
</div>

</body>
</html>